body {
  background-color: lavender;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
}

h2 {
  margin-top: 40px;
  font-family: monospace;
  font-size: 22px;
}

#inputDiv {
  display: flex;
}

#clearBtn {
  margin-left: 5px;
}

#errorMessage {
  height: 20px;
  margin-top: 5px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.operatorBtn:active {
  outline: 2px solid blue;
}

.operatorBtn:focus {
  outline: 2px solid blue;
}

h3 {
  font-size: 34px;
  font-family: monospace;
  margin-left: 190px;
}

li {
  font-family: monospace;
  font-size: 18px;
  margin-left: 115px;
}
